<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>figDef</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>figOnum</key>
		<array>
			<string>zero.tnum.onum</string>
			<string>one.tnum.onum</string>
			<string>two.tnum.onum</string>
			<string>three.tnum.onum</string>
			<string>four.tnum.onum</string>
			<string>five.tnum.onum</string>
			<string>six.tnum.onum</string>
			<string>seven.tnum.onum</string>
			<string>eight.tnum.onum</string>
			<string>nine.tnum.onum</string>
		</array>
		<key>figPOnum</key>
		<array>
			<string>zero.pnum.onum</string>
			<string>one.pnum.onum</string>
			<string>two.pnum.onum</string>
			<string>three.pnum.onum</string>
			<string>four.pnum.onum</string>
			<string>five.pnum.onum</string>
			<string>six.pnum.onum</string>
			<string>seven.pnum.onum</string>
			<string>eight.pnum.onum</string>
			<string>nine.pnum.onum</string>
		</array>
		<key>figPnum</key>
		<array>
			<string>zero.pnum.lnum</string>
			<string>one.pnum.lnum</string>
			<string>two.pnum.lnum</string>
			<string>three.pnum.lnum</string>
			<string>four.pnum.lnum</string>
			<string>five.pnum.lnum</string>
			<string>six.pnum.lnum</string>
			<string>seven.pnum.lnum</string>
			<string>eight.pnum.lnum</string>
			<string>nine.pnum.lnum</string>
		</array>
	</dict>
</plist>