<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>_LAT_AE_UC_2ND</key>
		<array>
			<string>AE</string>
		</array>
		<key>_LAT_A_UC_1ST</key>
		<array>
			<string>A</string>
			<string>Aogonek</string>
			<string>Aacute</string>
			<string>Agrave</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Amacron</string>
			<string>Adieresis</string>
			<string>Abreve</string>
			<string>Aring</string>
		</array>
		<key>_LAT_A_UC_2ND</key>
		<array>
			<string>A</string>
			<string>Aogonek</string>
			<string>Aacute</string>
			<string>Agrave</string>
			<string>Acircumflex</string>
			<string>Atilde</string>
			<string>Amacron</string>
			<string>Adieresis</string>
			<string>Abreve</string>
			<string>Aring</string>
		</array>
		<key>_LAT_B_UC_1ST</key>
		<array>
			<string>B</string>
		</array>
		<key>_LAT_C_UC_1ST</key>
		<array>
			<string>C</string>
			<string>Ccedilla</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Cdotaccent</string>
		</array>
		<key>_LAT_E_UC_1ST</key>
		<array>
			<string>E</string>
			<string>Eogonek</string>
			<string>Eacute</string>
			<string>Egrave</string>
			<string>Ecircumflex</string>
			<string>Ecaron</string>
			<string>Emacron</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>AE</string>
			<string>OE</string>
		</array>
		<key>_LAT_F_UC_1ST</key>
		<array>
			<string>F</string>
		</array>
		<key>_LAT_G_UC_1ST</key>
		<array>
			<string>G</string>
			<string>Gcommabelow</string>
			<string>Gbreve</string>
			<string>Gdotaccent</string>
		</array>
		<key>_LAT_Germandbls_UC_1ST</key>
		<array>
			<string>Germandbls</string>
		</array>
		<key>_LAT_Germandbls_UC_2ND</key>
		<array>
			<string>Germandbls</string>
		</array>
		<key>_LAT_H_UC_1ST</key>
		<array>
			<string>H</string>
			<string>M</string>
			<string>Hbar</string>
			<string>I</string>
			<string>Iogonek</string>
			<string>Iacute</string>
			<string>Igrave</string>
			<string>Icircumflex</string>
			<string>Itilde</string>
			<string>Imacron</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
		</array>
		<key>_LAT_H_UC_2ND</key>
		<array>
			<string>H</string>
			<string>M</string>
			<string>Hbar</string>
			<string>B</string>
			<string>D</string>
			<string>E</string>
			<string>F</string>
			<string>K</string>
			<string>L</string>
			<string>N</string>
			<string>P</string>
			<string>R</string>
			<string>Thorn</string>
			<string>Eth</string>
			<string>Dcroat</string>
			<string>Kcommabelow</string>
			<string>Lcommabelow</string>
			<string>Ncommabelow</string>
			<string>Eogonek</string>
			<string>Eacute</string>
			<string>Lacute</string>
			<string>Nacute</string>
			<string>Racute</string>
			<string>Egrave</string>
			<string>Ecircumflex</string>
			<string>Ntilde</string>
			<string>Dcaron</string>
			<string>Ecaron</string>
			<string>Lcaron</string>
			<string>Ncaron</string>
			<string>Rcaron</string>
			<string>Emacron</string>
			<string>Edieresis</string>
			<string>Edotaccent</string>
			<string>Lslash</string>
			<string>I</string>
			<string>Iogonek</string>
			<string>Iacute</string>
			<string>Igrave</string>
			<string>Icircumflex</string>
			<string>Itilde</string>
			<string>Imacron</string>
			<string>Idieresis</string>
			<string>Idotaccent</string>
		</array>
		<key>_LAT_J_UC_1ST</key>
		<array>
			<string>J</string>
			<string>IJ</string>
			<string>IJacute</string>
		</array>
		<key>_LAT_J_UC_2ND</key>
		<array>
			<string>J</string>
		</array>
		<key>_LAT_K_UC_1ST</key>
		<array>
			<string>K</string>
			<string>Kcommabelow</string>
		</array>
		<key>_LAT_L_UC_1ST</key>
		<array>
			<string>L</string>
			<string>Lcommabelow</string>
			<string>Lacute</string>
			<string>Lcaron</string>
			<string>Lslash</string>
		</array>
		<key>_LAT_N_UC_1ST</key>
		<array>
			<string>N</string>
			<string>Ncommabelow</string>
			<string>Nacute</string>
			<string>Ntilde</string>
			<string>Ncaron</string>
		</array>
		<key>_LAT_O_UC_1ST</key>
		<array>
			<string>O</string>
			<string>Q</string>
			<string>Oslash</string>
			<string>Oacute</string>
			<string>Ohungarumlaut</string>
			<string>Ograve</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Omacron</string>
			<string>Odieresis</string>
			<string>D</string>
			<string>Eth</string>
			<string>Dcroat</string>
			<string>Dcaron</string>
		</array>
		<key>_LAT_O_UC_2ND</key>
		<array>
			<string>O</string>
			<string>OE</string>
			<string>Oslash</string>
			<string>Oacute</string>
			<string>Ohungarumlaut</string>
			<string>Ograve</string>
			<string>Ocircumflex</string>
			<string>Otilde</string>
			<string>Omacron</string>
			<string>Odieresis</string>
			<string>C</string>
			<string>G</string>
			<string>Q</string>
			<string>Ccedilla</string>
			<string>Gcommabelow</string>
			<string>Cacute</string>
			<string>Ccaron</string>
			<string>Gbreve</string>
			<string>Cdotaccent</string>
			<string>Gdotaccent</string>
		</array>
		<key>_LAT_P_UC_1ST</key>
		<array>
			<string>P</string>
		</array>
		<key>_LAT_R_UC_1ST</key>
		<array>
			<string>R</string>
			<string>Racute</string>
			<string>Rcaron</string>
		</array>
		<key>_LAT_S_UC_1ST</key>
		<array>
			<string>S</string>
			<string>Scedilla</string>
			<string>Scommabelow</string>
			<string>Sacute</string>
			<string>Scaron</string>
		</array>
		<key>_LAT_S_UC_2ND</key>
		<array>
			<string>S</string>
			<string>Scedilla</string>
			<string>Scommabelow</string>
			<string>Sacute</string>
			<string>Scaron</string>
		</array>
		<key>_LAT_T_UC_1ST</key>
		<array>
			<string>T</string>
			<string>Tcedilla</string>
			<string>Tcommabelow</string>
			<string>Tcaron</string>
		</array>
		<key>_LAT_T_UC_2ND</key>
		<array>
			<string>T</string>
			<string>Tcedilla</string>
			<string>Tcommabelow</string>
			<string>Tcaron</string>
		</array>
		<key>_LAT_Thorn_UC_1ST</key>
		<array>
			<string>Thorn</string>
		</array>
		<key>_LAT_U_UC_1ST</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Uhungarumlaut</string>
			<string>Ugrave</string>
			<string>Ucircumflex</string>
			<string>Utilde</string>
			<string>Umacron</string>
			<string>Udieresis</string>
			<string>Uring</string>
			<string>Uogonek</string>
		</array>
		<key>_LAT_U_UC_2ND</key>
		<array>
			<string>U</string>
			<string>Uacute</string>
			<string>Uhungarumlaut</string>
			<string>Ugrave</string>
			<string>Ucircumflex</string>
			<string>Utilde</string>
			<string>Umacron</string>
			<string>Udieresis</string>
			<string>Uring</string>
			<string>Uogonek</string>
		</array>
		<key>_LAT_V_UC_1ST</key>
		<array>
			<string>V</string>
		</array>
		<key>_LAT_V_UC_2ND</key>
		<array>
			<string>V</string>
		</array>
		<key>_LAT_W_UC_1ST</key>
		<array>
			<string>W</string>
			<string>Wacute</string>
			<string>Wgrave</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
		</array>
		<key>_LAT_W_UC_2ND</key>
		<array>
			<string>W</string>
			<string>Wacute</string>
			<string>Wgrave</string>
			<string>Wcircumflex</string>
			<string>Wdieresis</string>
		</array>
		<key>_LAT_X_UC_1ST</key>
		<array>
			<string>X</string>
		</array>
		<key>_LAT_X_UC_2ND</key>
		<array>
			<string>X</string>
		</array>
		<key>_LAT_Y_UC_1ST</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ygrave</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
		</array>
		<key>_LAT_Y_UC_2ND</key>
		<array>
			<string>Y</string>
			<string>Yacute</string>
			<string>Ygrave</string>
			<string>Ycircumflex</string>
			<string>Ydieresis</string>
		</array>
		<key>_LAT_Z_UC_1ST</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>_LAT_Z_UC_2ND</key>
		<array>
			<string>Z</string>
			<string>Zacute</string>
			<string>Zcaron</string>
			<string>Zdotaccent</string>
		</array>
		<key>_LAT_a_LC_2ND</key>
		<array>
			<string>a</string>
			<string>aogonek</string>
			<string>aacute</string>
			<string>agrave</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>amacron</string>
			<string>adieresis</string>
			<string>abreve</string>
			<string>aring</string>
			<string>ae</string>
		</array>
		<key>_LAT_b_LC_2ND</key>
		<array>
			<string>b</string>
			<string>thorn</string>
		</array>
		<key>_LAT_c_LC_1ST</key>
		<array>
			<string>c</string>
			<string>ccedilla</string>
			<string>cacute</string>
			<string>ccaron</string>
			<string>cdotaccent</string>
		</array>
		<key>_LAT_d_LC_1ST</key>
		<array>
			<string>d</string>
			<string>dcroat</string>
			<string>l</string>
			<string>lcommabelow</string>
			<string>lacute</string>
			<string>i</string>
			<string>iogonek</string>
			<string>iacute</string>
			<string>igrave</string>
			<string>fi</string>
			<string>fl</string>
			<string>lslash</string>
		</array>
		<key>_LAT_dcaron_LC_1ST</key>
		<array>
			<string>dcaron</string>
			<string>lcaron</string>
		</array>
		<key>_LAT_dotlessj_LC_1ST</key>
		<array>
			<string>dotlessj</string>
		</array>
		<key>_LAT_e_LC_1ST</key>
		<array>
			<string>e</string>
			<string>eogonek</string>
			<string>eacute</string>
			<string>egrave</string>
			<string>ecircumflex</string>
			<string>ecaron</string>
			<string>emacron</string>
			<string>edieresis</string>
			<string>edotaccent</string>
			<string>ae</string>
			<string>oe</string>
		</array>
		<key>_LAT_f_LC_1ST</key>
		<array>
			<string>f</string>
			<string>longs</string>
		</array>
		<key>_LAT_f_LC_2ND</key>
		<array>
			<string>f</string>
			<string>fi</string>
			<string>fl</string>
		</array>
		<key>_LAT_g_LC_1ST</key>
		<array>
			<string>g</string>
			<string>gcommaabove</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
		</array>
		<key>_LAT_g_LC_2ND</key>
		<array>
			<string>g</string>
			<string>gcommaabove</string>
			<string>gbreve</string>
			<string>gdotaccent</string>
		</array>
		<key>_LAT_germandbls_LC_1ST</key>
		<array>
			<string>germandbls</string>
		</array>
		<key>_LAT_germandbls_LC_2ND</key>
		<array>
			<string>germandbls</string>
			<string>longs</string>
		</array>
		<key>_LAT_h_LC_2ND</key>
		<array>
			<string>h</string>
			<string>k</string>
			<string>hbar</string>
			<string>kcommabelow</string>
			<string>l</string>
			<string>lcommabelow</string>
			<string>lacute</string>
			<string>lcaron</string>
			<string>lslash</string>
		</array>
		<key>_LAT_i_LC_2ND</key>
		<array>
			<string>i</string>
			<string>ij</string>
			<string>iogonek</string>
			<string>iacute</string>
			<string>ijacute</string>
			<string>igrave</string>
		</array>
		<key>_LAT_idieresis_LC_1ST</key>
		<array>
			<string>idieresis</string>
			<string>icircumflex</string>
			<string>itilde</string>
			<string>imacron</string>
		</array>
		<key>_LAT_idieresis_LC_2ND</key>
		<array>
			<string>idieresis</string>
			<string>icircumflex</string>
			<string>itilde</string>
			<string>imacron</string>
		</array>
		<key>_LAT_j_LC_1ST</key>
		<array>
			<string>j</string>
			<string>ij</string>
			<string>ijacute</string>
		</array>
		<key>_LAT_j_LC_2ND</key>
		<array>
			<string>j</string>
		</array>
		<key>_LAT_k_LC_1ST</key>
		<array>
			<string>k</string>
			<string>kcommabelow</string>
			<string>kgreenlandic</string>
		</array>
		<key>_LAT_n_LC_1ST</key>
		<array>
			<string>n</string>
			<string>m</string>
			<string>ncommabelow</string>
			<string>nacute</string>
			<string>ntilde</string>
			<string>ncaron</string>
			<string>h</string>
			<string>hbar</string>
			<string>a</string>
			<string>aogonek</string>
			<string>aacute</string>
			<string>agrave</string>
			<string>acircumflex</string>
			<string>atilde</string>
			<string>amacron</string>
			<string>adieresis</string>
			<string>abreve</string>
			<string>aring</string>
		</array>
		<key>_LAT_n_LC_2ND</key>
		<array>
			<string>n</string>
			<string>m</string>
			<string>ncommabelow</string>
			<string>nacute</string>
			<string>ntilde</string>
			<string>ncaron</string>
			<string>r</string>
			<string>kgreenlandic</string>
			<string>racute</string>
			<string>rcaron</string>
			<string>dotlessi</string>
			<string>dotlessj</string>
		</array>
		<key>_LAT_o_LC_1ST</key>
		<array>
			<string>o</string>
			<string>eth</string>
			<string>oslash</string>
			<string>oacute</string>
			<string>ohungarumlaut</string>
			<string>ograve</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>omacron</string>
			<string>odieresis</string>
			<string>b</string>
			<string>p</string>
			<string>thorn</string>
		</array>
		<key>_LAT_o_LC_2ND</key>
		<array>
			<string>o</string>
			<string>eth</string>
			<string>oslash</string>
			<string>oacute</string>
			<string>ohungarumlaut</string>
			<string>ograve</string>
			<string>ocircumflex</string>
			<string>otilde</string>
			<string>omacron</string>
			<string>odieresis</string>
			<string>c</string>
			<string>d</string>
			<string>e</string>
			<string>q</string>
			<string>oe</string>
			<string>dcroat</string>
			<string>ccedilla</string>
			<string>eogonek</string>
			<string>cacute</string>
			<string>eacute</string>
			<string>egrave</string>
			<string>ecircumflex</string>
			<string>ccaron</string>
			<string>dcaron</string>
			<string>ecaron</string>
			<string>emacron</string>
			<string>edieresis</string>
			<string>cdotaccent</string>
			<string>edotaccent</string>
		</array>
		<key>_LAT_p_LC_2ND</key>
		<array>
			<string>p</string>
		</array>
		<key>_LAT_q_LC_1ST</key>
		<array>
			<string>q</string>
		</array>
		<key>_LAT_r_LC_1ST</key>
		<array>
			<string>r</string>
			<string>racute</string>
			<string>rcaron</string>
		</array>
		<key>_LAT_s_LC_1ST</key>
		<array>
			<string>s</string>
			<string>scedilla</string>
			<string>scommabelow</string>
			<string>sacute</string>
			<string>scaron</string>
		</array>
		<key>_LAT_s_LC_2ND</key>
		<array>
			<string>s</string>
			<string>scedilla</string>
			<string>scommabelow</string>
			<string>sacute</string>
			<string>scaron</string>
		</array>
		<key>_LAT_t_LC_1ST</key>
		<array>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcommabelow</string>
			<string>tcaron</string>
		</array>
		<key>_LAT_t_LC_2ND</key>
		<array>
			<string>t</string>
			<string>tcedilla</string>
			<string>tcommabelow</string>
			<string>tcaron</string>
		</array>
		<key>_LAT_u_LC_1ST</key>
		<array>
			<string>u</string>
			<string>uogonek</string>
			<string>uacute</string>
			<string>uhungarumlaut</string>
			<string>ugrave</string>
			<string>ucircumflex</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>udieresis</string>
			<string>uring</string>
			<string>dotlessi</string>
		</array>
		<key>_LAT_u_LC_2ND</key>
		<array>
			<string>u</string>
			<string>uogonek</string>
			<string>uacute</string>
			<string>uhungarumlaut</string>
			<string>ugrave</string>
			<string>ucircumflex</string>
			<string>utilde</string>
			<string>umacron</string>
			<string>udieresis</string>
			<string>uring</string>
		</array>
		<key>_LAT_v_LC_1ST</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>yacute</string>
			<string>ygrave</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
		</array>
		<key>_LAT_v_LC_2ND</key>
		<array>
			<string>v</string>
			<string>y</string>
			<string>yacute</string>
			<string>ygrave</string>
			<string>ycircumflex</string>
			<string>ydieresis</string>
		</array>
		<key>_LAT_w_LC_1ST</key>
		<array>
			<string>w</string>
			<string>wacute</string>
			<string>wgrave</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
		</array>
		<key>_LAT_w_LC_2ND</key>
		<array>
			<string>w</string>
			<string>wacute</string>
			<string>wgrave</string>
			<string>wcircumflex</string>
			<string>wdieresis</string>
		</array>
		<key>_LAT_x_LC_1ST</key>
		<array>
			<string>x</string>
		</array>
		<key>_LAT_x_LC_2ND</key>
		<array>
			<string>x</string>
		</array>
		<key>_LAT_z_LC_1ST</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>_LAT_z_LC_2ND</key>
		<array>
			<string>z</string>
			<string>zacute</string>
			<string>zcaron</string>
			<string>zdotaccent</string>
		</array>
		<key>_NUM_eight.onum_1ST</key>
		<array>
			<string>eight.pnum.onum</string>
		</array>
		<key>_NUM_eight.onum_2ND</key>
		<array>
			<string>eight.pnum.onum</string>
		</array>
		<key>_NUM_eight_1ST</key>
		<array>
			<string>eight</string>
		</array>
		<key>_NUM_eight_2ND</key>
		<array>
			<string>eight</string>
		</array>
		<key>_NUM_five.onum_1ST</key>
		<array>
			<string>five.pnum.onum</string>
		</array>
		<key>_NUM_five.onum_2ND</key>
		<array>
			<string>five.pnum.onum</string>
		</array>
		<key>_NUM_five_1ST</key>
		<array>
			<string>five</string>
		</array>
		<key>_NUM_five_2ND</key>
		<array>
			<string>five</string>
		</array>
		<key>_NUM_four.onum_1ST</key>
		<array>
			<string>four.pnum.onum</string>
		</array>
		<key>_NUM_four.onum_2ND</key>
		<array>
			<string>four.pnum.onum</string>
		</array>
		<key>_NUM_four_1ST</key>
		<array>
			<string>four</string>
		</array>
		<key>_NUM_four_2ND</key>
		<array>
			<string>four</string>
		</array>
		<key>_NUM_nine.onum_1ST</key>
		<array>
			<string>nine.pnum.onum</string>
		</array>
		<key>_NUM_nine.onum_2ND</key>
		<array>
			<string>nine.pnum.onum</string>
		</array>
		<key>_NUM_nine_1ST</key>
		<array>
			<string>nine</string>
		</array>
		<key>_NUM_nine_2ND</key>
		<array>
			<string>nine</string>
		</array>
		<key>_NUM_one.onum_1ST</key>
		<array>
			<string>one.pnum.onum</string>
		</array>
		<key>_NUM_one.onum_2ND</key>
		<array>
			<string>one.pnum.onum</string>
		</array>
		<key>_NUM_one_1ST</key>
		<array>
			<string>one</string>
		</array>
		<key>_NUM_one_2ND</key>
		<array>
			<string>one</string>
		</array>
		<key>_NUM_seven.onum_1ST</key>
		<array>
			<string>seven.pnum.onum</string>
		</array>
		<key>_NUM_seven.onum_2ND</key>
		<array>
			<string>seven.pnum.onum</string>
		</array>
		<key>_NUM_seven_1ST</key>
		<array>
			<string>seven</string>
		</array>
		<key>_NUM_seven_2ND</key>
		<array>
			<string>seven</string>
		</array>
		<key>_NUM_six.onum_1ST</key>
		<array>
			<string>six.pnum.onum</string>
		</array>
		<key>_NUM_six.onum_2ND</key>
		<array>
			<string>six.pnum.onum</string>
		</array>
		<key>_NUM_six_1ST</key>
		<array>
			<string>six</string>
		</array>
		<key>_NUM_six_2ND</key>
		<array>
			<string>six</string>
		</array>
		<key>_NUM_three.onum_1ST</key>
		<array>
			<string>three.pnum.onum</string>
		</array>
		<key>_NUM_three.onum_2ND</key>
		<array>
			<string>three.pnum.onum</string>
		</array>
		<key>_NUM_three_1ST</key>
		<array>
			<string>three</string>
		</array>
		<key>_NUM_three_2ND</key>
		<array>
			<string>three</string>
		</array>
		<key>_NUM_two.onum_1ST</key>
		<array>
			<string>two.pnum.onum</string>
		</array>
		<key>_NUM_two.onum_2ND</key>
		<array>
			<string>two.pnum.onum</string>
		</array>
		<key>_NUM_two_1ST</key>
		<array>
			<string>two</string>
		</array>
		<key>_NUM_two_2ND</key>
		<array>
			<string>two</string>
		</array>
		<key>_PUNCT_Euro_2ND</key>
		<array>
			<string>Euro</string>
		</array>
		<key>_PUNCT_asterisk_1ST</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>_PUNCT_asterisk_2ND</key>
		<array>
			<string>asterisk</string>
		</array>
		<key>_PUNCT_at_1ST</key>
		<array>
			<string>at</string>
			<string>at.case</string>
		</array>
		<key>_PUNCT_at_2ND</key>
		<array>
			<string>at</string>
			<string>at.case</string>
		</array>
		<key>_PUNCT_austral_1ST</key>
		<array>
			<string>austral</string>
		</array>
		<key>_PUNCT_austral_2ND</key>
		<array>
			<string>austral</string>
		</array>
		<key>_PUNCT_backslash_1ST</key>
		<array>
			<string>backslash</string>
			<string>backslash.case</string>
		</array>
		<key>_PUNCT_backslash_2ND</key>
		<array>
			<string>backslash</string>
			<string>backslash.case</string>
		</array>
		<key>_PUNCT_cent_1ST</key>
		<array>
			<string>cent</string>
		</array>
		<key>_PUNCT_cent_2ND</key>
		<array>
			<string>cent</string>
		</array>
		<key>_PUNCT_colon_1ST</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>_PUNCT_colon_2ND</key>
		<array>
			<string>colon</string>
			<string>semicolon</string>
		</array>
		<key>_PUNCT_colonmonetary_1ST</key>
		<array>
			<string>colonmonetary</string>
			<string>Euro</string>
			<string>cedi</string>
			<string>cruzeiro</string>
		</array>
		<key>_PUNCT_colonmonetary_2ND</key>
		<array>
			<string>colonmonetary</string>
			<string>cedi</string>
			<string>cruzeiro</string>
			<string>guarani</string>
		</array>
		<key>_PUNCT_currency_1ST</key>
		<array>
			<string>currency</string>
		</array>
		<key>_PUNCT_currency_2ND</key>
		<array>
			<string>currency</string>
		</array>
		<key>_PUNCT_dollar_1ST</key>
		<array>
			<string>dollar</string>
		</array>
		<key>_PUNCT_dollar_2ND</key>
		<array>
			<string>dollar</string>
		</array>
		<key>_PUNCT_dong_1ST</key>
		<array>
			<string>dong</string>
		</array>
		<key>_PUNCT_dong_2ND</key>
		<array>
			<string>dong</string>
		</array>
		<key>_PUNCT_drachma_1ST</key>
		<array>
			<string>drachma</string>
		</array>
		<key>_PUNCT_drachma_2ND</key>
		<array>
			<string>drachma</string>
		</array>
		<key>_PUNCT_eucurrency_1ST</key>
		<array>
			<string>eucurrency</string>
		</array>
		<key>_PUNCT_eucurrency_2ND</key>
		<array>
			<string>eucurrency</string>
		</array>
		<key>_PUNCT_exclam_1ST</key>
		<array>
			<string>exclam</string>
		</array>
		<key>_PUNCT_exclam_2ND</key>
		<array>
			<string>exclam</string>
		</array>
		<key>_PUNCT_exclamdown.case_1ST</key>
		<array>
			<string>exclamdown.case</string>
		</array>
		<key>_PUNCT_exclamdown.case_2ND</key>
		<array>
			<string>exclamdown.case</string>
		</array>
		<key>_PUNCT_exclamdown_1ST</key>
		<array>
			<string>exclamdown</string>
		</array>
		<key>_PUNCT_exclamdown_2ND</key>
		<array>
			<string>exclamdown</string>
		</array>
		<key>_PUNCT_guarani_1ST</key>
		<array>
			<string>guarani</string>
		</array>
		<key>_PUNCT_guilsinglleft_1ST</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
			<string>guilsinglleft.case</string>
			<string>guillemotleft.case</string>
		</array>
		<key>_PUNCT_guilsinglleft_2ND</key>
		<array>
			<string>guilsinglleft</string>
			<string>guillemotleft</string>
			<string>guilsinglleft.case</string>
			<string>guillemotleft.case</string>
		</array>
		<key>_PUNCT_guilsinglright_1ST</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
			<string>guilsinglright.case</string>
			<string>guillemotright.case</string>
		</array>
		<key>_PUNCT_guilsinglright_2ND</key>
		<array>
			<string>guilsinglright</string>
			<string>guillemotright</string>
			<string>guilsinglright.case</string>
			<string>guillemotright.case</string>
		</array>
		<key>_PUNCT_hNewsheqel_1ST</key>
		<array>
			<string>hNewsheqel</string>
		</array>
		<key>_PUNCT_hNewsheqel_2ND</key>
		<array>
			<string>hNewsheqel</string>
		</array>
		<key>_PUNCT_hryvnia_1ST</key>
		<array>
			<string>hryvnia</string>
		</array>
		<key>_PUNCT_hryvnia_2ND</key>
		<array>
			<string>hryvnia</string>
		</array>
		<key>_PUNCT_hyphen_1ST</key>
		<array>
			<string>hyphen</string>
			<string>hyphentwo</string>
			<string>nbhyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>hyphen.case</string>
			<string>hyphentwo.case</string>
			<string>nbhyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>_PUNCT_hyphen_2ND</key>
		<array>
			<string>hyphen</string>
			<string>hyphentwo</string>
			<string>nbhyphen</string>
			<string>endash</string>
			<string>emdash</string>
			<string>hyphen.case</string>
			<string>hyphentwo.case</string>
			<string>nbhyphen.case</string>
			<string>endash.case</string>
			<string>emdash.case</string>
		</array>
		<key>_PUNCT_kip_1ST</key>
		<array>
			<string>kip</string>
		</array>
		<key>_PUNCT_liraturkish_1ST</key>
		<array>
			<string>liraturkish</string>
		</array>
		<key>_PUNCT_mill_1ST</key>
		<array>
			<string>mill</string>
		</array>
		<key>_PUNCT_mill_2ND</key>
		<array>
			<string>mill</string>
		</array>
		<key>_PUNCT_naira_1ST</key>
		<array>
			<string>naira</string>
		</array>
		<key>_PUNCT_naira_2ND</key>
		<array>
			<string>naira</string>
			<string>kip</string>
			<string>liraturkish</string>
			<string>peso</string>
		</array>
		<key>_PUNCT_parenleft_1ST</key>
		<array>
			<string>parenleft</string>
			<string></string>
			<string>bracketleft</string>
			<string>braceleft</string>
			<string>parenleft.case</string>
			<string>bracketleft.case</string>
			<string>braceleft.case</string>
		</array>
		<key>_PUNCT_parenright_2ND</key>
		<array>
			<string>parenright</string>
			<string></string>
			<string>bracketright</string>
			<string>braceright</string>
			<string>parenright.case</string>
			<string>bracketright.case</string>
			<string>braceright.case</string>
		</array>
		<key>_PUNCT_period_1ST</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>_PUNCT_period_2ND</key>
		<array>
			<string>period</string>
			<string>comma</string>
			<string>ellipsis</string>
			<string>quotesinglbase</string>
			<string>quotedblbase</string>
		</array>
		<key>_PUNCT_peseta_1ST</key>
		<array>
			<string>peseta</string>
			<string>rupee</string>
		</array>
		<key>_PUNCT_peseta_2ND</key>
		<array>
			<string>peseta</string>
			<string>rupee</string>
		</array>
		<key>_PUNCT_peso_1ST</key>
		<array>
			<string>peso</string>
		</array>
		<key>_PUNCT_pfenning_1ST</key>
		<array>
			<string>pfennig</string>
		</array>
		<key>_PUNCT_pfenning_2ND</key>
		<array>
			<string>pfennig</string>
		</array>
		<key>_PUNCT_question_1ST</key>
		<array>
			<string>question</string>
		</array>
		<key>_PUNCT_question_2ND</key>
		<array>
			<string>question</string>
		</array>
		<key>_PUNCT_questiondown.case_1ST</key>
		<array>
			<string>questiondown.case</string>
		</array>
		<key>_PUNCT_questiondown.case_2ND</key>
		<array>
			<string>questiondown.case</string>
		</array>
		<key>_PUNCT_questiondown_1ST</key>
		<array>
			<string>questiondown</string>
		</array>
		<key>_PUNCT_questiondown_2ND</key>
		<array>
			<string>questiondown</string>
		</array>
		<key>_PUNCT_quotesingle_1ST</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
		</array>
		<key>_PUNCT_quotesingle_2ND</key>
		<array>
			<string>quotesingle</string>
			<string>quotedbl</string>
			<string>quoteleft</string>
			<string>quoteright</string>
			<string>quotedblleft</string>
			<string>quotedblright</string>
		</array>
		<key>_PUNCT_rupeeindian_1ST</key>
		<array>
			<string>rupeeindian</string>
		</array>
		<key>_PUNCT_rupeeindian_2ND</key>
		<array>
			<string>rupeeindian</string>
		</array>
		<key>_PUNCT_slash_1ST</key>
		<array>
			<string>slash</string>
			<string>slash.case</string>
		</array>
		<key>_PUNCT_slash_2ND</key>
		<array>
			<string>slash</string>
			<string>slash.case</string>
		</array>
		<key>_PUNCT_sterling_1ST</key>
		<array>
			<string>sterling</string>
			<string>lira</string>
		</array>
		<key>_PUNCT_sterling_2ND</key>
		<array>
			<string>sterling</string>
			<string>lira</string>
		</array>
		<key>_PUNCT_tugrik_1ST</key>
		<array>
			<string>tugrik</string>
		</array>
		<key>_PUNCT_tugrik_2ND</key>
		<array>
			<string>tugrik</string>
		</array>
		<key>_PUNCT_won_1ST</key>
		<array>
			<string>won</string>
		</array>
		<key>_PUNCT_won_2ND</key>
		<array>
			<string>won</string>
		</array>
		<key>_PUNCT_yen_1ST</key>
		<array>
			<string>yen</string>
		</array>
		<key>_PUNCT_yen_2ND</key>
		<array>
			<string>yen</string>
		</array>
		<key>figPLnum</key>
		<array>
			<string>zero</string>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
			<string>six</string>
			<string>seven</string>
			<string>eight</string>
			<string>nine</string>
		</array>
		<key>figPOnum</key>
		<array>
			<string>zero.pnum.onum</string>
			<string>one.pnum.onum</string>
			<string>two.pnum.onum</string>
			<string>three.pnum.onum</string>
			<string>four.pnum.onum</string>
			<string>five.pnum.onum</string>
			<string>six.pnum.onum</string>
			<string>seven.pnum.onum</string>
			<string>eight.pnum.onum</string>
			<string>nine.pnum.onum</string>
		</array>
		<key>figTLnum</key>
		<array>
			<string>zero.tnum.lnum</string>
			<string>one.tnum.lnum</string>
			<string>two.tnum.lnum</string>
			<string>three.tnum.lnum</string>
			<string>four.tnum.lnum</string>
			<string>five.num.lnum</string>
			<string>six.tnum.lnum</string>
			<string>seven.tnum.lnum</string>
			<string>eight.tnum.lnum</string>
			<string>nine.tnum.lnum</string>
		</array>
		<key>figTOnum</key>
		<array>
			<string>zero.tnum.onum</string>
			<string>one.tnum.onum</string>
			<string>two.tnum.onum</string>
			<string>three.tnum.onum</string>
			<string>four.tnum.onum</string>
			<string>five.tnum.onum</string>
			<string>six.tnum.onum</string>
			<string>seven.tnum.onum</string>
			<string>eight.tnum.onum</string>
			<string>nine.tnum.onum</string>
		</array>
	</dict>
</plist>