<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<dict>
			<key>A</key>
			<integer>20</integer>
			<key>AE</key>
			<integer>20</integer>
			<key>O</key>
			<integer>-40</integer>
			<key>T</key>
			<integer>-75</integer>
			<key>U</key>
			<integer>-60</integer>
			<key>V</key>
			<integer>-95</integer>
			<key>W</key>
			<integer>-85</integer>
			<key>X</key>
			<integer>20</integer>
			<key>Y</key>
			<integer>-80</integer>
			<key>asterisk</key>
			<integer>-90</integer>
			<key>backslash</key>
			<integer>-90</integer>
			<key>guilsinglleft</key>
			<integer>-30</integer>
			<key>hyphen</key>
			<integer>-40</integer>
			<key>o</key>
			<integer>-20</integer>
			<key>quotesingle</key>
			<integer>-110</integer>
			<key>t</key>
			<integer>-20</integer>
			<key>u</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-85</integer>
			<key>w</key>
			<integer>-70</integer>
		</dict>
		<key>Aogonek</key>
		<dict>
			<key>J</key>
			<integer>60</integer>
			<key>dotlessj</key>
			<integer>80</integer>
			<key>g</key>
			<integer>20</integer>
			<key>j</key>
			<integer>80</integer>
		</dict>
		<key>B</key>
		<dict>
			<key>A</key>
			<integer>-10</integer>
			<key>AE</key>
			<integer>-15</integer>
			<key>T</key>
			<integer>-20</integer>
			<key>U</key>
			<integer>-20</integer>
			<key>V</key>
			<integer>-30</integer>
			<key>W</key>
			<integer>-30</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>Y</key>
			<integer>-30</integer>
			<key>Z</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>period</key>
			<integer>-20</integer>
			<key>quotesingle</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-15</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>C</key>
		<dict>
			<key>O</key>
			<integer>-10</integer>
			<key>a</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-10</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>guilsinglright</key>
			<integer>-30</integer>
			<key>o</key>
			<integer>-20</integer>
			<key>s</key>
			<integer>-20</integer>
			<key>x</key>
			<integer>-10</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>E</key>
		<dict>
			<key>O</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>o</key>
			<integer>-10</integer>
		</dict>
		<key>Eogonek</key>
		<dict>
			<key>dotlessj</key>
			<integer>40</integer>
			<key>j</key>
			<integer>40</integer>
		</dict>
		<key>F</key>
		<dict>
			<key>A</key>
			<integer>-90</integer>
			<key>AE</key>
			<integer>-100</integer>
			<key>Germandbls</key>
			<integer>-40</integer>
			<key>O</key>
			<integer>-15</integer>
			<key>a</key>
			<integer>-30</integer>
			<key>g</key>
			<integer>-75</integer>
			<key>germandbls</key>
			<integer>-30</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-40</integer>
			<key>idieresis</key>
			<integer>30</integer>
			<key>o</key>
			<integer>-45</integer>
			<key>period</key>
			<integer>-100</integer>
			<key>slash</key>
			<integer>-70</integer>
		</dict>
		<key>G</key>
		<dict>
			<key>A</key>
			<integer>-10</integer>
			<key>T</key>
			<integer>-10</integer>
			<key>V</key>
			<integer>-40</integer>
			<key>W</key>
			<integer>-35</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>Y</key>
			<integer>-30</integer>
			<key>Z</key>
			<integer>-10</integer>
		</dict>
		<key>Germandbls</key>
		<dict>
			<key>T</key>
			<integer>-30</integer>
			<key>U</key>
			<integer>-10</integer>
			<key>V</key>
			<integer>-50</integer>
			<key>W</key>
			<integer>-40</integer>
			<key>Y</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-20</integer>
			<key>backslash</key>
			<integer>-30</integer>
			<key>quotesingle</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-40</integer>
		</dict>
		<key>H</key>
		<dict>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-20</integer>
		</dict>
		<key>I</key>
		<dict>
			<key>v</key>
			<integer>-10</integer>
			<key>w</key>
			<integer>-10</integer>
		</dict>
		<key>Iogonek</key>
		<dict>
			<key>J</key>
			<integer>25</integer>
			<key>dotlessj</key>
			<integer>50</integer>
			<key>j</key>
			<integer>50</integer>
		</dict>
		<key>J</key>
		<dict>
			<key>A</key>
			<integer>-50</integer>
			<key>AE</key>
			<integer>-50</integer>
			<key>Germandbls</key>
			<integer>-30</integer>
			<key>O</key>
			<integer>-10</integer>
			<key>Z</key>
			<integer>-10</integer>
			<key>a</key>
			<integer>-20</integer>
			<key>g</key>
			<integer>-40</integer>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>idieresis</key>
			<integer>40</integer>
			<key>n</key>
			<integer>-10</integer>
			<key>o</key>
			<integer>-10</integer>
			<key>p</key>
			<integer>-10</integer>
			<key>period</key>
			<integer>-70</integer>
			<key>s</key>
			<integer>-30</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>u</key>
			<integer>-10</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-20</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>z</key>
			<integer>-30</integer>
		</dict>
		<key>K</key>
		<dict>
			<key>A</key>
			<integer>20</integer>
			<key>AE</key>
			<integer>20</integer>
			<key>O</key>
			<integer>-40</integer>
			<key>T</key>
			<integer>-30</integer>
			<key>U</key>
			<integer>-35</integer>
			<key>V</key>
			<integer>-20</integer>
			<key>W</key>
			<integer>-20</integer>
			<key>Y</key>
			<integer>-10</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-70</integer>
			<key>o</key>
			<integer>-25</integer>
			<key>quotesingle</key>
			<integer>-30</integer>
			<key>t</key>
			<integer>-10</integer>
			<key>u</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-80</integer>
			<key>w</key>
			<integer>-70</integer>
		</dict>
		<key>L</key>
		<dict>
			<key>A</key>
			<integer>10</integer>
			<key>AE</key>
			<integer>10</integer>
			<key>O</key>
			<integer>-15</integer>
			<key>T</key>
			<integer>-95</integer>
			<key>U</key>
			<integer>-30</integer>
			<key>V</key>
			<integer>-95</integer>
			<key>W</key>
			<integer>-70</integer>
			<key>Y</key>
			<integer>-90</integer>
			<key>asterisk</key>
			<integer>-80</integer>
			<key>backslash</key>
			<integer>-80</integer>
			<key>hyphen</key>
			<integer>-20</integer>
			<key>quotesingle</key>
			<integer>-100</integer>
			<key>u</key>
			<integer>-10</integer>
			<key>v</key>
			<integer>-90</integer>
			<key>w</key>
			<integer>-60</integer>
		</dict>
		<key>N</key>
		<dict>
			<key>A</key>
			<integer>-35</integer>
			<key>AE</key>
			<integer>-35</integer>
			<key>a</key>
			<integer>-15</integer>
			<key>g</key>
			<integer>-30</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>o</key>
			<integer>-15</integer>
			<key>s</key>
			<integer>-20</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-20</integer>
			<key>x</key>
			<integer>-30</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>O</key>
		<dict>
			<key>A</key>
			<integer>-40</integer>
			<key>AE</key>
			<integer>-50</integer>
			<key>T</key>
			<integer>-10</integer>
			<key>U</key>
			<integer>-10</integer>
			<key>V</key>
			<integer>-20</integer>
			<key>W</key>
			<integer>-20</integer>
			<key>X</key>
			<integer>-30</integer>
			<key>Y</key>
			<integer>-30</integer>
			<key>Z</key>
			<integer>-20</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>period</key>
			<integer>-30</integer>
			<key>x</key>
			<integer>-30</integer>
		</dict>
		<key>Oslash</key>
		<dict>
			<key>Y</key>
			<integer>20</integer>
		</dict>
		<key>P</key>
		<dict>
			<key>A</key>
			<integer>-70</integer>
			<key>AE</key>
			<integer>-95</integer>
			<key>Germandbls</key>
			<integer>-20</integer>
			<key>J</key>
			<integer>-10</integer>
			<key>U</key>
			<integer>-10</integer>
			<key>V</key>
			<integer>-20</integer>
			<key>W</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-40</integer>
			<key>Y</key>
			<integer>-15</integer>
			<key>Z</key>
			<integer>-20</integer>
			<key>a</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>30</integer>
			<key>g</key>
			<integer>-30</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>o</key>
			<integer>-10</integer>
			<key>period</key>
			<integer>-120</integer>
			<key>s</key>
			<integer>-10</integer>
			<key>slash</key>
			<integer>-40</integer>
			<key>v</key>
			<integer>20</integer>
			<key>w</key>
			<integer>10</integer>
			<key>x</key>
			<integer>-10</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>Q</key>
		<dict>
			<key>J</key>
			<integer>35</integer>
			<key>dotlessj</key>
			<integer>40</integer>
			<key>j</key>
			<integer>40</integer>
		</dict>
		<key>R</key>
		<dict>
			<key>A</key>
			<integer>20</integer>
			<key>AE</key>
			<integer>20</integer>
			<key>O</key>
			<integer>-20</integer>
			<key>T</key>
			<integer>-45</integer>
			<key>U</key>
			<integer>-30</integer>
			<key>V</key>
			<integer>-50</integer>
			<key>W</key>
			<integer>-40</integer>
			<key>X</key>
			<integer>10</integer>
			<key>Y</key>
			<integer>-45</integer>
			<key>asterisk</key>
			<integer>-30</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>guilsinglleft</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-40</integer>
			<key>o</key>
			<integer>-15</integer>
			<key>quotesingle</key>
			<integer>-30</integer>
			<key>u</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-20</integer>
		</dict>
		<key>S</key>
		<dict>
			<key>A</key>
			<integer>-20</integer>
			<key>AE</key>
			<integer>-20</integer>
			<key>T</key>
			<integer>-20</integer>
			<key>U</key>
			<integer>-15</integer>
			<key>V</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>Z</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-20</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-10</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>T</key>
		<dict>
			<key>A</key>
			<integer>-75</integer>
			<key>AE</key>
			<integer>-95</integer>
			<key>Germandbls</key>
			<integer>-30</integer>
			<key>O</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-10</integer>
			<key>Y</key>
			<integer>10</integer>
			<key>Z</key>
			<integer>-10</integer>
			<key>a</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>40</integer>
			<key>g</key>
			<integer>-65</integer>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-70</integer>
			<key>idieresis</key>
			<integer>30</integer>
			<key>o</key>
			<integer>-50</integer>
			<key>period</key>
			<integer>-90</integer>
			<key>s</key>
			<integer>-50</integer>
			<key>slash</key>
			<integer>-70</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>Thorn</key>
		<dict>
			<key>A</key>
			<integer>-35</integer>
			<key>AE</key>
			<integer>-40</integer>
			<key>T</key>
			<integer>-20</integer>
			<key>V</key>
			<integer>-40</integer>
			<key>W</key>
			<integer>-35</integer>
			<key>X</key>
			<integer>-50</integer>
			<key>Y</key>
			<integer>-45</integer>
			<key>Z</key>
			<integer>-10</integer>
			<key>o</key>
			<integer>30</integer>
			<key>period</key>
			<integer>-50</integer>
			<key>t</key>
			<integer>20</integer>
			<key>u</key>
			<integer>20</integer>
			<key>x</key>
			<integer>-20</integer>
		</dict>
		<key>U</key>
		<dict>
			<key>A</key>
			<integer>-60</integer>
			<key>AE</key>
			<integer>-65</integer>
			<key>Germandbls</key>
			<integer>-30</integer>
			<key>O</key>
			<integer>-10</integer>
			<key>S</key>
			<integer>-10</integer>
			<key>X</key>
			<integer>-10</integer>
			<key>Z</key>
			<integer>-20</integer>
			<key>a</key>
			<integer>-30</integer>
			<key>f</key>
			<integer>-20</integer>
			<key>g</key>
			<integer>-50</integer>
			<key>germandbls</key>
			<integer>-30</integer>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>o</key>
			<integer>-20</integer>
			<key>p</key>
			<integer>-20</integer>
			<key>period</key>
			<integer>-80</integer>
			<key>s</key>
			<integer>-30</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>u</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-30</integer>
			<key>w</key>
			<integer>-30</integer>
			<key>x</key>
			<integer>-60</integer>
			<key>z</key>
			<integer>-40</integer>
		</dict>
		<key>V</key>
		<dict>
			<key>A</key>
			<integer>-95</integer>
			<key>AE</key>
			<integer>-115</integer>
			<key>Germandbls</key>
			<integer>-50</integer>
			<key>O</key>
			<integer>-20</integer>
			<key>S</key>
			<integer>-10</integer>
			<key>V</key>
			<integer>20</integer>
			<key>W</key>
			<integer>20</integer>
			<key>Y</key>
			<integer>30</integer>
			<key>a</key>
			<integer>-50</integer>
			<key>asterisk</key>
			<integer>30</integer>
			<key>b</key>
			<integer>30</integer>
			<key>colon</key>
			<integer>-40</integer>
			<key>f</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-80</integer>
			<key>germandbls</key>
			<integer>-20</integer>
			<key>guilsinglleft</key>
			<integer>-60</integer>
			<key>guilsinglright</key>
			<integer>-50</integer>
			<key>hyphen</key>
			<integer>-70</integer>
			<key>idieresis</key>
			<integer>60</integer>
			<key>n</key>
			<integer>-40</integer>
			<key>o</key>
			<integer>-60</integer>
			<key>p</key>
			<integer>-20</integer>
			<key>parenright</key>
			<integer>30</integer>
			<key>period</key>
			<integer>-140</integer>
			<key>quotesingle</key>
			<integer>40</integer>
			<key>s</key>
			<integer>-60</integer>
			<key>slash</key>
			<integer>-70</integer>
			<key>t</key>
			<integer>-10</integer>
			<key>u</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-30</integer>
			<key>w</key>
			<integer>-20</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>z</key>
			<integer>-50</integer>
		</dict>
		<key>W</key>
		<dict>
			<key>A</key>
			<integer>-85</integer>
			<key>AE</key>
			<integer>-105</integer>
			<key>Germandbls</key>
			<integer>-40</integer>
			<key>O</key>
			<integer>-20</integer>
			<key>V</key>
			<integer>20</integer>
			<key>W</key>
			<integer>20</integer>
			<key>Y</key>
			<integer>30</integer>
			<key>a</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>20</integer>
			<key>b</key>
			<integer>30</integer>
			<key>colon</key>
			<integer>-30</integer>
			<key>g</key>
			<integer>-70</integer>
			<key>germandbls</key>
			<integer>-20</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>guilsinglright</key>
			<integer>-40</integer>
			<key>hyphen</key>
			<integer>-50</integer>
			<key>idieresis</key>
			<integer>50</integer>
			<key>n</key>
			<integer>-30</integer>
			<key>o</key>
			<integer>-50</integer>
			<key>p</key>
			<integer>-20</integer>
			<key>parenright</key>
			<integer>20</integer>
			<key>period</key>
			<integer>-130</integer>
			<key>quotesingle</key>
			<integer>30</integer>
			<key>s</key>
			<integer>-50</integer>
			<key>slash</key>
			<integer>-60</integer>
			<key>u</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-10</integer>
			<key>x</key>
			<integer>-40</integer>
			<key>z</key>
			<integer>-40</integer>
		</dict>
		<key>X</key>
		<dict>
			<key>A</key>
			<integer>20</integer>
			<key>AE</key>
			<integer>20</integer>
			<key>O</key>
			<integer>-30</integer>
			<key>S</key>
			<integer>-10</integer>
			<key>T</key>
			<integer>-10</integer>
			<key>U</key>
			<integer>-10</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>guilsinglright</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-70</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>o</key>
			<integer>-20</integer>
			<key>t</key>
			<integer>-10</integer>
			<key>u</key>
			<integer>-25</integer>
			<key>v</key>
			<integer>-70</integer>
			<key>w</key>
			<integer>-60</integer>
		</dict>
		<key>Y</key>
		<dict>
			<key>A</key>
			<integer>-80</integer>
			<key>AE</key>
			<integer>-80</integer>
			<key>Germandbls</key>
			<integer>-30</integer>
			<key>O</key>
			<integer>-30</integer>
			<key>T</key>
			<integer>10</integer>
			<key>V</key>
			<integer>30</integer>
			<key>W</key>
			<integer>30</integer>
			<key>Y</key>
			<integer>40</integer>
			<key>a</key>
			<integer>-50</integer>
			<key>asterisk</key>
			<integer>30</integer>
			<key>b</key>
			<integer>40</integer>
			<key>colon</key>
			<integer>-40</integer>
			<key>g</key>
			<integer>-70</integer>
			<key>germandbls</key>
			<integer>-45</integer>
			<key>guilsinglleft</key>
			<integer>-80</integer>
			<key>guilsinglright</key>
			<integer>-50</integer>
			<key>h</key>
			<integer>20</integer>
			<key>hyphen</key>
			<integer>-90</integer>
			<key>idieresis</key>
			<integer>65</integer>
			<key>n</key>
			<integer>-30</integer>
			<key>o</key>
			<integer>-50</integer>
			<key>p</key>
			<integer>-20</integer>
			<key>parenright</key>
			<integer>50</integer>
			<key>period</key>
			<integer>-110</integer>
			<key>quotesingle</key>
			<integer>50</integer>
			<key>s</key>
			<integer>-50</integer>
			<key>slash</key>
			<integer>-70</integer>
			<key>u</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-10</integer>
			<key>x</key>
			<integer>-40</integer>
			<key>z</key>
			<integer>-40</integer>
		</dict>
		<key>Z</key>
		<dict>
			<key>O</key>
			<integer>-20</integer>
			<key>S</key>
			<integer>-10</integer>
			<key>T</key>
			<integer>-20</integer>
			<key>U</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-10</integer>
			<key>idieresis</key>
			<integer>20</integer>
			<key>o</key>
			<integer>-10</integer>
			<key>v</key>
			<integer>-40</integer>
			<key>w</key>
			<integer>-30</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>ampersand</key>
		<dict>
			<key>A</key>
			<integer>20</integer>
			<key>T</key>
			<integer>-80</integer>
			<key>U</key>
			<integer>-30</integer>
			<key>V</key>
			<integer>-65</integer>
			<key>W</key>
			<integer>-55</integer>
			<key>Y</key>
			<integer>-65</integer>
			<key>s</key>
			<integer>-10</integer>
			<key>t</key>
			<integer>-15</integer>
			<key>u</key>
			<integer>-15</integer>
			<key>v</key>
			<integer>-45</integer>
			<key>w</key>
			<integer>-35</integer>
		</dict>
		<key>aogonek</key>
		<dict>
			<key>dotlessj</key>
			<integer>65</integer>
			<key>j</key>
			<integer>65</integer>
		</dict>
		<key>asterisk</key>
		<dict>
			<key>A</key>
			<integer>-90</integer>
			<key>AE</key>
			<integer>-100</integer>
			<key>T</key>
			<integer>40</integer>
			<key>V</key>
			<integer>30</integer>
			<key>W</key>
			<integer>20</integer>
			<key>Y</key>
			<integer>30</integer>
			<key>t</key>
			<integer>30</integer>
			<key>u</key>
			<integer>40</integer>
			<key>v</key>
			<integer>40</integer>
			<key>w</key>
			<integer>40</integer>
		</dict>
		<key>austral</key>
		<dict>
			<key>four.pnum.onum</key>
			<integer>30</integer>
			<key>seven</key>
			<integer>-30</integer>
			<key>three</key>
			<integer>40</integer>
			<key>two</key>
			<integer>40</integer>
		</dict>
		<key>backslash</key>
		<dict>
			<key>T</key>
			<integer>-70</integer>
			<key>U</key>
			<integer>-20</integer>
			<key>V</key>
			<integer>-70</integer>
			<key>W</key>
			<integer>-60</integer>
			<key>Y</key>
			<integer>-70</integer>
			<key>b</key>
			<integer>-30</integer>
			<key>p</key>
			<integer>-30</integer>
			<key>u</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-60</integer>
			<key>w</key>
			<integer>-50</integer>
		</dict>
		<key>c</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-30</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>germandbls</key>
			<integer>-20</integer>
			<key>h</key>
			<integer>-20</integer>
			<key>o</key>
			<integer>-10</integer>
			<key>s</key>
			<integer>-15</integer>
			<key>x</key>
			<integer>-25</integer>
		</dict>
		<key>cent</key>
		<dict>
			<key>five</key>
			<integer>-20</integer>
			<key>zero.pnum.onum</key>
			<integer>-30</integer>
		</dict>
		<key>colonmonetary</key>
		<dict>
			<key>four.pnum.onum</key>
			<integer>20</integer>
			<key>nine</key>
			<integer>30</integer>
			<key>nine.pnum.onum</key>
			<integer>10</integer>
			<key>one</key>
			<integer>20</integer>
			<key>seven</key>
			<integer>40</integer>
			<key>seven.pnum.onum</key>
			<integer>30</integer>
			<key>three</key>
			<integer>20</integer>
			<key>three.pnum.onum</key>
			<integer>20</integer>
			<key>two</key>
			<integer>20</integer>
			<key>two.pnum.onum</key>
			<integer>10</integer>
		</dict>
		<key>d</key>
		<dict>
			<key>backslash</key>
			<integer>-40</integer>
			<key>g</key>
			<integer>-10</integer>
			<key>quotesingle</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-40</integer>
			<key>w</key>
			<integer>-30</integer>
		</dict>
		<key>dcaron</key>
		<dict>
			<key>a</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>50</integer>
			<key>b</key>
			<integer>30</integer>
			<key>g</key>
			<integer>-45</integer>
			<key>hyphen</key>
			<integer>-30</integer>
			<key>o</key>
			<integer>-30</integer>
			<key>parenright</key>
			<integer>40</integer>
			<key>question</key>
			<integer>30</integer>
			<key>quotesingle</key>
			<integer>30</integer>
			<key>slash</key>
			<integer>-40</integer>
			<key>v</key>
			<integer>20</integer>
			<key>w</key>
			<integer>10</integer>
			<key>z</key>
			<integer>-30</integer>
		</dict>
		<key>dollar</key>
		<dict>
			<key>five</key>
			<integer>-30</integer>
			<key>five.pnum.onum</key>
			<integer>-50</integer>
			<key>nine</key>
			<integer>-20</integer>
			<key>one</key>
			<integer>-20</integer>
			<key>one.pnum.onum</key>
			<integer>-40</integer>
			<key>six</key>
			<integer>-10</integer>
			<key>three.pnum.onum</key>
			<integer>-10</integer>
		</dict>
		<key>e</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-10</integer>
			<key>x</key>
			<integer>-20</integer>
		</dict>
		<key>eight</key>
		<dict>
			<key>five</key>
			<integer>-10</integer>
			<key>nine</key>
			<integer>-15</integer>
		</dict>
		<key>eight.pnum.onum</key>
		<dict>
			<key>three.pnum.onum</key>
			<integer>-10</integer>
		</dict>
		<key>eogonek</key>
		<dict>
			<key>dotlessj</key>
			<integer>30</integer>
			<key>j</key>
			<integer>30</integer>
		</dict>
		<key>exclamdown</key>
		<dict>
			<key>J</key>
			<integer>40</integer>
		</dict>
		<key>f</key>
		<dict>
			<key>a</key>
			<integer>-20</integer>
			<key>asterisk</key>
			<integer>50</integer>
			<key>b</key>
			<integer>40</integer>
			<key>backslash</key>
			<integer>30</integer>
			<key>g</key>
			<integer>-40</integer>
			<key>germandbls</key>
			<integer>-25</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>h</key>
			<integer>20</integer>
			<key>hyphen</key>
			<integer>-60</integer>
			<key>idieresis</key>
			<integer>70</integer>
			<key>igrave</key>
			<integer>40</integer>
			<key>o</key>
			<integer>-30</integer>
			<key>parenright</key>
			<integer>60</integer>
			<key>period</key>
			<integer>-60</integer>
			<key>question</key>
			<integer>35</integer>
			<key>quotesingle</key>
			<integer>50</integer>
			<key>s</key>
			<integer>-30</integer>
			<key>x</key>
			<integer>-30</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>five</key>
		<dict>
			<key>five</key>
			<integer>-30</integer>
			<key>four</key>
			<integer>-15</integer>
			<key>nine</key>
			<integer>-30</integer>
			<key>one</key>
			<integer>-25</integer>
			<key>seven</key>
			<integer>-10</integer>
			<key>six</key>
			<integer>-10</integer>
		</dict>
		<key>four</key>
		<dict>
			<key>cent</key>
			<integer>-40</integer>
			<key>degree</key>
			<integer>-20</integer>
			<key>five</key>
			<integer>-30</integer>
			<key>nine</key>
			<integer>-15</integer>
			<key>one</key>
			<integer>-10</integer>
			<key>seven</key>
			<integer>-20</integer>
			<key>three</key>
			<integer>-10</integer>
			<key>tugrik</key>
			<integer>-40</integer>
		</dict>
		<key>four.pnum.onum</key>
		<dict>
			<key>cent</key>
			<integer>-30</integer>
			<key>degree</key>
			<integer>-40</integer>
			<key>drachma</key>
			<integer>40</integer>
			<key>five.pnum.onum</key>
			<integer>-10</integer>
			<key>three.pnum.onum</key>
			<integer>-10</integer>
		</dict>
		<key>g</key>
		<dict>
			<key>a</key>
			<integer>-15</integer>
			<key>asterisk</key>
			<integer>30</integer>
			<key>backslash</key>
			<integer>-30</integer>
			<key>dotlessj</key>
			<integer>30</integer>
			<key>germandbls</key>
			<integer>-10</integer>
			<key>h</key>
			<integer>-10</integer>
			<key>j</key>
			<integer>35</integer>
			<key>o</key>
			<integer>-10</integer>
			<key>s</key>
			<integer>-25</integer>
		</dict>
		<key>germandbls</key>
		<dict>
			<key>asterisk</key>
			<integer>-30</integer>
			<key>backslash</key>
			<integer>-50</integer>
			<key>f</key>
			<integer>-15</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>question</key>
			<integer>-30</integer>
			<key>quotesingle</key>
			<integer>-50</integer>
			<key>v</key>
			<integer>-55</integer>
			<key>w</key>
			<integer>-45</integer>
		</dict>
		<key>guilsinglleft</key>
		<dict>
			<key>AE</key>
			<integer>-20</integer>
			<key>H</key>
			<integer>-20</integer>
			<key>T</key>
			<integer>-20</integer>
			<key>U</key>
			<integer>-20</integer>
			<key>V</key>
			<integer>-50</integer>
			<key>W</key>
			<integer>-40</integer>
			<key>X</key>
			<integer>-20</integer>
			<key>Y</key>
			<integer>-50</integer>
			<key>b</key>
			<integer>-20</integer>
			<key>germandbls</key>
			<integer>-20</integer>
			<key>h</key>
			<integer>-20</integer>
			<key>o</key>
			<integer>-30</integer>
		</dict>
		<key>guilsinglright</key>
		<dict>
			<key>A</key>
			<integer>-30</integer>
			<key>AE</key>
			<integer>-30</integer>
			<key>V</key>
			<integer>-50</integer>
			<key>W</key>
			<integer>-40</integer>
			<key>X</key>
			<integer>-40</integer>
			<key>Y</key>
			<integer>-80</integer>
			<key>seven</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-30</integer>
			<key>w</key>
			<integer>-20</integer>
			<key>x</key>
			<integer>-30</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>hyphen</key>
		<dict>
			<key>A</key>
			<integer>-40</integer>
			<key>AE</key>
			<integer>-50</integer>
			<key>T</key>
			<integer>-70</integer>
			<key>V</key>
			<integer>-70</integer>
			<key>W</key>
			<integer>-50</integer>
			<key>X</key>
			<integer>-70</integer>
			<key>Y</key>
			<integer>-90</integer>
			<key>Z</key>
			<integer>-40</integer>
			<key>one</key>
			<integer>-30</integer>
			<key>seven</key>
			<integer>-50</integer>
			<key>v</key>
			<integer>-40</integer>
			<key>w</key>
			<integer>-30</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>idieresis</key>
		<dict>
			<key>b</key>
			<integer>30</integer>
			<key>idieresis</key>
			<integer>30</integer>
			<key>v</key>
			<integer>-40</integer>
			<key>w</key>
			<integer>-30</integer>
		</dict>
		<key>iogonek</key>
		<dict>
			<key>dotlessj</key>
			<integer>50</integer>
			<key>j</key>
			<integer>50</integer>
		</dict>
		<key>j</key>
		<dict>
			<key>g</key>
			<integer>-40</integer>
			<key>period</key>
			<integer>-40</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>k</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-50</integer>
			<key>g</key>
			<integer>-10</integer>
			<key>guilsinglleft</key>
			<integer>-40</integer>
			<key>hyphen</key>
			<integer>-60</integer>
			<key>o</key>
			<integer>-30</integer>
			<key>quotesingle</key>
			<integer>-20</integer>
			<key>s</key>
			<integer>-20</integer>
			<key>x</key>
			<integer>10</integer>
		</dict>
		<key>kip</key>
		<dict>
			<key>five</key>
			<integer>40</integer>
			<key>five.pnum.onum</key>
			<integer>40</integer>
			<key>four.pnum.onum</key>
			<integer>70</integer>
			<key>one</key>
			<integer>30</integer>
			<key>one.pnum.onum</key>
			<integer>30</integer>
			<key>three</key>
			<integer>50</integer>
			<key>three.pnum.onum</key>
			<integer>50</integer>
			<key>two</key>
			<integer>70</integer>
		</dict>
		<key>lcommabelow</key>
		<dict>
			<key>dotlessj</key>
			<integer>30</integer>
			<key>j</key>
			<integer>30</integer>
		</dict>
		<key>liraturkish</key>
		<dict>
			<key>five</key>
			<integer>-30</integer>
			<key>one</key>
			<integer>-40</integer>
			<key>one.pnum.onum</key>
			<integer>-50</integer>
			<key>seven</key>
			<integer>-40</integer>
			<key>seven.pnum.onum</key>
			<integer>-50</integer>
		</dict>
		<key>lslash</key>
		<dict>
			<key>u</key>
			<integer>15</integer>
			<key>v</key>
			<integer>10</integer>
			<key>w</key>
			<integer>10</integer>
		</dict>
		<key>mill</key>
		<dict>
			<key>seven.pnum.onum</key>
			<integer>30</integer>
		</dict>
		<key>n</key>
		<dict>
			<key>asterisk</key>
			<integer>-30</integer>
			<key>backslash</key>
			<integer>-60</integer>
			<key>question</key>
			<integer>-30</integer>
			<key>quotesingle</key>
			<integer>-50</integer>
			<key>v</key>
			<integer>-50</integer>
			<key>w</key>
			<integer>-45</integer>
		</dict>
		<key>naira</key>
		<dict>
			<key>seven.pnum.onum</key>
			<integer>40</integer>
		</dict>
		<key>nine</key>
		<dict>
			<key>five</key>
			<integer>-10</integer>
			<key>four</key>
			<integer>-25</integer>
			<key>period</key>
			<integer>-50</integer>
			<key>pfennig</key>
			<integer>-50</integer>
			<key>two</key>
			<integer>-20</integer>
			<key>zero</key>
			<integer>-40</integer>
		</dict>
		<key>nine.pnum.onum</key>
		<dict>
			<key>five.pnum.onum</key>
			<integer>-10</integer>
			<key>four.pnum.onum</key>
			<integer>-15</integer>
		</dict>
		<key>o</key>
		<dict>
			<key>backslash</key>
			<integer>-50</integer>
			<key>f</key>
			<integer>-10</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>guilsinglright</key>
			<integer>-30</integer>
			<key>period</key>
			<integer>-30</integer>
			<key>question</key>
			<integer>-10</integer>
			<key>quotesingle</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-15</integer>
			<key>x</key>
			<integer>-25</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>one</key>
		<dict>
			<key>cent</key>
			<integer>-40</integer>
			<key>four</key>
			<integer>-50</integer>
		</dict>
		<key>one.pnum.onum</key>
		<dict>
			<key>austral</key>
			<integer>50</integer>
			<key>cent</key>
			<integer>-20</integer>
			<key>degree</key>
			<integer>-60</integer>
			<key>four.pnum.onum</key>
			<integer>25</integer>
			<key>three.pnum.onum</key>
			<integer>15</integer>
			<key>two.pnum.onum</key>
			<integer>10</integer>
		</dict>
		<key>parenleft</key>
		<dict>
			<key>J</key>
			<integer>70</integer>
			<key>V</key>
			<integer>30</integer>
			<key>W</key>
			<integer>20</integer>
			<key>Y</key>
			<integer>50</integer>
			<key>b</key>
			<integer>30</integer>
			<key>dotlessj</key>
			<integer>60</integer>
			<key>five.pnum.onum</key>
			<integer>30</integer>
			<key>g</key>
			<integer>10</integer>
			<key>j</key>
			<integer>60</integer>
			<key>three.pnum.onum</key>
			<integer>30</integer>
		</dict>
		<key>period</key>
		<dict>
			<key>O</key>
			<integer>-30</integer>
			<key>T</key>
			<integer>-90</integer>
			<key>U</key>
			<integer>-80</integer>
			<key>V</key>
			<integer>-140</integer>
			<key>W</key>
			<integer>-130</integer>
			<key>Y</key>
			<integer>-110</integer>
			<key>b</key>
			<integer>-40</integer>
			<key>four</key>
			<integer>-20</integer>
			<key>nine.pnum.onum</key>
			<integer>-50</integer>
			<key>o</key>
			<integer>-30</integer>
			<key>p</key>
			<integer>-40</integer>
			<key>seven.pnum.onum</key>
			<integer>-40</integer>
			<key>t</key>
			<integer>-40</integer>
			<key>u</key>
			<integer>-60</integer>
			<key>v</key>
			<integer>-120</integer>
			<key>w</key>
			<integer>-110</integer>
		</dict>
		<key>peso</key>
		<dict>
			<key>four</key>
			<integer>-30</integer>
			<key>four.pnum.onum</key>
			<integer>-80</integer>
			<key>seven</key>
			<integer>30</integer>
			<key>seven.pnum.onum</key>
			<integer>40</integer>
		</dict>
		<key>pfennig</key>
		<dict>
			<key>four</key>
			<integer>-40</integer>
		</dict>
		<key>q</key>
		<dict>
			<key>b</key>
			<integer>-20</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>dotlessj</key>
			<integer>70</integer>
			<key>germandbls</key>
			<integer>-10</integer>
			<key>guilsinglright</key>
			<integer>-40</integer>
			<key>h</key>
			<integer>-10</integer>
			<key>j</key>
			<integer>70</integer>
			<key>quotesingle</key>
			<integer>-30</integer>
			<key>v</key>
			<integer>-10</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>questiondown</key>
		<dict>
			<key>J</key>
			<integer>30</integer>
			<key>O</key>
			<integer>-40</integer>
			<key>T</key>
			<integer>-80</integer>
			<key>U</key>
			<integer>-70</integer>
			<key>V</key>
			<integer>-70</integer>
			<key>W</key>
			<integer>-60</integer>
			<key>Y</key>
			<integer>-80</integer>
			<key>a</key>
			<integer>-20</integer>
			<key>dotlessj</key>
			<integer>40</integer>
			<key>j</key>
			<integer>40</integer>
			<key>o</key>
			<integer>-40</integer>
			<key>s</key>
			<integer>-40</integer>
			<key>t</key>
			<integer>-40</integer>
			<key>u</key>
			<integer>-40</integer>
			<key>v</key>
			<integer>-70</integer>
			<key>w</key>
			<integer>-60</integer>
		</dict>
		<key>questiondown.case</key>
		<dict>
			<key>T</key>
			<integer>-80</integer>
			<key>U</key>
			<integer>-50</integer>
			<key>V</key>
			<integer>-80</integer>
			<key>W</key>
			<integer>-70</integer>
			<key>Y</key>
			<integer>-70</integer>
		</dict>
		<key>quotesingle</key>
		<dict>
			<key>A</key>
			<integer>-110</integer>
			<key>AE</key>
			<integer>-130</integer>
			<key>Germandbls</key>
			<integer>-40</integer>
			<key>V</key>
			<integer>40</integer>
			<key>W</key>
			<integer>30</integer>
			<key>Y</key>
			<integer>50</integer>
			<key>a</key>
			<integer>-20</integer>
			<key>b</key>
			<integer>20</integer>
			<key>four</key>
			<integer>-50</integer>
			<key>four.pnum.onum</key>
			<integer>-110</integer>
			<key>g</key>
			<integer>-50</integer>
			<key>germandbls</key>
			<integer>-40</integer>
			<key>o</key>
			<integer>-30</integer>
			<key>seven</key>
			<integer>40</integer>
			<key>seven.pnum.onum</key>
			<integer>30</integer>
			<key>six</key>
			<integer>-30</integer>
			<key>three</key>
			<integer>30</integer>
			<key>v</key>
			<integer>20</integer>
			<key>w</key>
			<integer>10</integer>
		</dict>
		<key>r</key>
		<dict>
			<key>a</key>
			<integer>-20</integer>
			<key>g</key>
			<integer>-30</integer>
			<key>germandbls</key>
			<integer>-10</integer>
			<key>h</key>
			<integer>-10</integer>
			<key>o</key>
			<integer>-20</integer>
			<key>period</key>
			<integer>-110</integer>
			<key>slash</key>
			<integer>-40</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>rupeeindian</key>
		<dict>
			<key>five.pnum.onum</key>
			<integer>-40</integer>
			<key>four</key>
			<integer>-80</integer>
			<key>four.pnum.onum</key>
			<integer>-30</integer>
		</dict>
		<key>s</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>b</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>g</key>
			<integer>-20</integer>
			<key>germandbls</key>
			<integer>-10</integer>
			<key>h</key>
			<integer>-10</integer>
			<key>v</key>
			<integer>-20</integer>
			<key>w</key>
			<integer>-10</integer>
			<key>x</key>
			<integer>-20</integer>
			<key>z</key>
			<integer>-20</integer>
		</dict>
		<key>seven</key>
		<dict>
			<key>asterisk</key>
			<integer>50</integer>
			<key>austral</key>
			<integer>-40</integer>
			<key>degree</key>
			<integer>40</integer>
			<key>five</key>
			<integer>-20</integer>
			<key>four</key>
			<integer>-50</integer>
			<key>guilsinglleft</key>
			<integer>-30</integer>
			<key>hyphen</key>
			<integer>-60</integer>
			<key>naira</key>
			<integer>30</integer>
			<key>period</key>
			<integer>-110</integer>
			<key>pfennig</key>
			<integer>-80</integer>
			<key>quotesingle</key>
			<integer>40</integer>
			<key>seven</key>
			<integer>20</integer>
			<key>six</key>
			<integer>-20</integer>
			<key>sterling</key>
			<integer>-35</integer>
			<key>three</key>
			<integer>20</integer>
			<key>won</key>
			<integer>30</integer>
		</dict>
		<key>seven.pnum.onum</key>
		<dict>
			<key>asterisk</key>
			<integer>50</integer>
			<key>colonmonetary</key>
			<integer>40</integer>
			<key>degree</key>
			<integer>50</integer>
			<key>four.pnum.onum</key>
			<integer>-50</integer>
			<key>naira</key>
			<integer>40</integer>
			<key>period</key>
			<integer>-80</integer>
			<key>pfennig</key>
			<integer>-50</integer>
			<key>question</key>
			<integer>40</integer>
			<key>quotesingle</key>
			<integer>30</integer>
			<key>seven.pnum.onum</key>
			<integer>20</integer>
			<key>tugrik</key>
			<integer>40</integer>
			<key>won</key>
			<integer>30</integer>
		</dict>
		<key>six</key>
		<dict>
			<key>degree</key>
			<integer>-30</integer>
			<key>five</key>
			<integer>-10</integer>
			<key>nine</key>
			<integer>-25</integer>
			<key>one</key>
			<integer>-15</integer>
			<key>seven</key>
			<integer>-20</integer>
		</dict>
		<key>six.pnum.onum</key>
		<dict>
			<key>seven.pnum.onum</key>
			<integer>-15</integer>
		</dict>
		<key>slash</key>
		<dict>
			<key>A</key>
			<integer>-90</integer>
			<key>AE</key>
			<integer>-90</integer>
			<key>Germandbls</key>
			<integer>-30</integer>
			<key>a</key>
			<integer>-60</integer>
			<key>four.pnum.onum</key>
			<integer>-90</integer>
			<key>g</key>
			<integer>-80</integer>
			<key>germandbls</key>
			<integer>-50</integer>
			<key>o</key>
			<integer>-50</integer>
			<key>s</key>
			<integer>-60</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>z</key>
			<integer>-50</integer>
		</dict>
		<key>sterling</key>
		<dict>
			<key>nine.pnum.onum</key>
			<integer>-20</integer>
		</dict>
		<key>t</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-30</integer>
			<key>guilsinglleft</key>
			<integer>-30</integer>
			<key>o</key>
			<integer>-25</integer>
			<key>quotesingle</key>
			<integer>-20</integer>
			<key>v</key>
			<integer>-10</integer>
			<key>w</key>
			<integer>-10</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>tcedilla</key>
		<dict>
			<key>dotlessj</key>
			<integer>40</integer>
			<key>j</key>
			<integer>40</integer>
		</dict>
		<key>tcommabelow</key>
		<dict>
			<key>dotlessj</key>
			<integer>30</integer>
			<key>j</key>
			<integer>30</integer>
		</dict>
		<key>three</key>
		<dict>
			<key>cent</key>
			<integer>-40</integer>
			<key>degree</key>
			<integer>-20</integer>
			<key>five</key>
			<integer>-30</integer>
			<key>four</key>
			<integer>-30</integer>
			<key>nine</key>
			<integer>-20</integer>
			<key>one</key>
			<integer>-30</integer>
			<key>question</key>
			<integer>-20</integer>
			<key>seven</key>
			<integer>-20</integer>
			<key>six</key>
			<integer>-10</integer>
			<key>sterling</key>
			<integer>-40</integer>
			<key>three</key>
			<integer>-20</integer>
			<key>two</key>
			<integer>-10</integer>
		</dict>
		<key>three.pnum.onum</key>
		<dict>
			<key>austral</key>
			<integer>30</integer>
			<key>five.pnum.onum</key>
			<integer>-10</integer>
		</dict>
		<key>tugrik</key>
		<dict>
			<key>four</key>
			<integer>-80</integer>
			<key>four.pnum.onum</key>
			<integer>-60</integer>
		</dict>
		<key>two</key>
		<dict>
			<key>cent</key>
			<integer>-20</integer>
			<key>five</key>
			<integer>-10</integer>
			<key>four</key>
			<integer>-30</integer>
			<key>nine</key>
			<integer>-10</integer>
			<key>six</key>
			<integer>-10</integer>
		</dict>
		<key>two.pnum.onum</key>
		<dict>
			<key>cent</key>
			<integer>-30</integer>
			<key>five.pnum.onum</key>
			<integer>-35</integer>
			<key>nine.pnum.onum</key>
			<integer>-10</integer>
			<key>seven.pnum.onum</key>
			<integer>-10</integer>
			<key>six.pnum.onum</key>
			<integer>-10</integer>
			<key>three.pnum.onum</key>
			<integer>-30</integer>
		</dict>
		<key>u</key>
		<dict>
			<key>backslash</key>
			<integer>-40</integer>
			<key>quotesingle</key>
			<integer>-45</integer>
			<key>v</key>
			<integer>-40</integer>
			<key>w</key>
			<integer>-40</integer>
		</dict>
		<key>uogonek</key>
		<dict>
			<key>dotlessj</key>
			<integer>50</integer>
			<key>j</key>
			<integer>50</integer>
		</dict>
		<key>v</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>40</integer>
			<key>dotlessj</key>
			<integer>10</integer>
			<key>g</key>
			<integer>-50</integer>
			<key>germandbls</key>
			<integer>-20</integer>
			<key>guilsinglleft</key>
			<integer>-30</integer>
			<key>h</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-40</integer>
			<key>j</key>
			<integer>10</integer>
			<key>o</key>
			<integer>-20</integer>
			<key>period</key>
			<integer>-120</integer>
			<key>quotesingle</key>
			<integer>20</integer>
			<key>s</key>
			<integer>-20</integer>
			<key>slash</key>
			<integer>-60</integer>
			<key>t</key>
			<integer>25</integer>
			<key>u</key>
			<integer>20</integer>
			<key>v</key>
			<integer>15</integer>
			<key>w</key>
			<integer>15</integer>
		</dict>
		<key>w</key>
		<dict>
			<key>asterisk</key>
			<integer>40</integer>
			<key>dotlessj</key>
			<integer>15</integer>
			<key>g</key>
			<integer>-40</integer>
			<key>germandbls</key>
			<integer>-15</integer>
			<key>guilsinglleft</key>
			<integer>-20</integer>
			<key>h</key>
			<integer>-15</integer>
			<key>hyphen</key>
			<integer>-30</integer>
			<key>j</key>
			<integer>15</integer>
			<key>o</key>
			<integer>-15</integer>
			<key>period</key>
			<integer>-110</integer>
			<key>quotesingle</key>
			<integer>10</integer>
			<key>s</key>
			<integer>-15</integer>
			<key>slash</key>
			<integer>-50</integer>
			<key>t</key>
			<integer>30</integer>
			<key>u</key>
			<integer>20</integer>
			<key>v</key>
			<integer>15</integer>
			<key>w</key>
			<integer>15</integer>
			<key>z</key>
			<integer>-10</integer>
		</dict>
		<key>won</key>
		<dict>
			<key>four.pnum.onum</key>
			<integer>-50</integer>
			<key>seven.pnum.onum</key>
			<integer>30</integer>
		</dict>
		<key>x</key>
		<dict>
			<key>a</key>
			<integer>-10</integer>
			<key>backslash</key>
			<integer>-50</integer>
			<key>guilsinglleft</key>
			<integer>-30</integer>
			<key>hyphen</key>
			<integer>-50</integer>
			<key>o</key>
			<integer>-25</integer>
		</dict>
		<key>yen</key>
		<dict>
			<key>four.pnum.onum</key>
			<integer>-40</integer>
			<key>one.pnum.onum</key>
			<integer>-20</integer>
		</dict>
		<key>z</key>
		<dict>
			<key>backslash</key>
			<integer>-50</integer>
			<key>g</key>
			<integer>-10</integer>
			<key>guilsinglleft</key>
			<integer>-20</integer>
			<key>hyphen</key>
			<integer>-20</integer>
			<key>o</key>
			<integer>-10</integer>
		</dict>
		<key>zero.pnum.onum</key>
		<dict>
			<key>Euro</key>
			<integer>50</integer>
		</dict>
	</dict>
</plist>